.moodcard{
  width: 400px;
  margin: 120px auto 0;
  padding: 10px;
  text-align: center;
  color: rgb(239, 113, 210);
  border-radius: 4px;
}
.moodcard p{
  font-weight: 600;
}
.moodcard button{
  width: 80px;
  padding: 5px;
  margin-right: 15px;
  border: none;
  border-radius: 4px;
  background-color:beige;
  border: 1px solid violet;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
  color: black;
  text-transform: 0.25s;
}
.moodcard button:hover{
  border: 1px solid black;
  color: white;
  border-radius: 4px;
  background-color:rgb(128, 119, 119,0.6);
}
