html, body, #root {
  height: 100%;
  margin: 0;
}
.moodcard{
  width: 400px;
  padding: 10px;
  text-align: center;
  color: rgb(239, 113, 210);
  border-radius: 7px;
   margin: 20px;
}
.moodcard p{
  font-weight: 600;
  color: rgb(66, 179, 197);
}
.moodcard button{
  width: 80px;
  padding: 5px;
  margin-right: 15px;
  border: none;
  border-radius: 4px;
  background-color:beige;
  border: 1px solid violet;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
  color: black;
  transition:  transform 0.15s;
}
.moodcard button:hover{
  border: 1px solid black;
  color: white;
  border-radius: 4px;
  background-color:rgb(128, 119, 119,0.6);
  cursor:pointer;
  transform:scale(1.05)
}
.thoughtcard{
  animation:fadeIn 0.4s ease-in-out;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }

}
@media (max-width: 500px) {
  h1 {
    font-size: 24px;
  }

  button {
    width: 100%;
    font-size: 14px;
  }

  .thoughtcard {
    font-size: 16px;
    padding: 16px;
  }
}

